<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "edu.ucdenver.brightbythree"
    version   = "1.0.2">

    <name>Bright by Three</name>

    <description>
        Bright by Three leads the design, delivery, and evaluation of innovative programs to promote the
        healthy development of all children in the first three years of life.
    </description>

    <author href="http://mhealthimpact.ucdenver.edu/" email="sheana.bull@ucdenver.edu">
        Sheana Bull
    </author>

    <gap:platforms>
        <gap:platform name="android" minVersion="2.1" />
        <gap:platform name="blackberry" project="widgets"/>
    </gap:platforms>

    <feature name="http://api.phonegap.com/1.0/device" />

    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <gap:plugin name="de.appplant.cordova.plugin.email-composer"
                version="0.8.1" />

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/device" />

    <feature name="Camera">
        <param name="android-package"
               value="org.apache.cordova.camera.CameraLauncher" />
    </feature>

    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />

    <icon src="images/BB3_icon_200x200.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon_36x36.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon_48x48.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon_72x72.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon_96x96.png" />
    <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon_57x57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon_72x72.png" width="72" />
    <icon gap:platform="ios" height="76" src="res/icon/ios/icon_76x76.png" width="76" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon_114x114.png" width="114" />
    <icon gap:platform="ios" height="120" src="res/icon/ios/icon_120x120.png" width="120" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon_144x144.png" width="144" />
    <icon gap:platform="ios" height="152" src="res/icon/ios/icon_152x152.png" width="152" />
    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/SpalshScreen200x320_.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/SpalshScreen320x480_.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/SpalshScreen480x800_.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/SpalshScreen720x1280_.png" />
    <gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/SpalshScreen320x480.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/SpalshScreen640x960.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/SpalshScreen640x1136.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/SpalshScreen768x1004.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/SpalshScreen1024x783.png" width="1024" />
    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
    <gap:plugin name="org.apache.cordova.device" />
    <access origin="*" />

    <icon src="icon.png" gap:role="default" />
    <icon src="icon_hover.png" gap:role="default" hover="true" />

</widget>